html {
    background-color: darkslategray;
}

.card {
    display: inline-block;
    background-color: #00C9C9;
    width: 45%;
    height: 300px;
    margin: 2% 0;
    position: relative;
}

#card {
    margin: 3% auto;
}

#candidate-card {
    background-color: #00C9C9;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#card-header {
    text-align: center;
    text-decoration: underline;
}

#job-card {
    background-color: #00C9C9;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: transparent;
    outline: none;
    border: none;
    color: #00C9C9;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

#header {
    margin: auto;
}

#menu-item {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: none;
    color: #00C9C9;
}

.menu {
    width: 100%;
    margin: 1% auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.main-container {
    width: 75%;
    margin: 1% auto;
    padding: 1%;
}

#search {
    height: 30px;
    margin: auto;
    width: 100%;
}

#filter {
    height: 30px;
    margin: auto;
    border: none;
}

.search-box {
    width: 75%;
    margin: auto;
}

.filter-box {
    margin: auto;
}

.top {
    display: flex;
    flex-direction: row;
}

.left {
    float: left;
    width: 35%;
    padding: 0 3%;
    margin: auto;
}

.skills {
    width: 100%;
    margin: 4% 0;
    font-size: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.name {
    width: 100%;
    font-size: 20px;
    margin: 4% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.location {
    width: 100%;
    margin: 4% 0;
    font-size: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.right {
    float: right;
    width: 55%;
    padding: 0 3%;
    margin: auto;
}

.circle-cropper {
    background-image: url(profileIcon.png);
    background-position: center;
    background-size: cover;
    /* background-color: white; */
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.bottom {
    height: 600px;
    display: none;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin: auto;
    width: 80%;
}

::-webkit-scrollbar {
    display: none;
}