html {
    background-color: darkslategray;
}

.header {
    background-color: transparent;
    outline: none;
    border: none;
    color: #00C9C9;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

#header {
    margin: auto;
}

#menu-item {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: none;
    /* color: #00C9C9; */
    color: #50b5b5;
}

.menu {
    width: 100%;
    margin: 1% auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.content-menu {
    width: 100%;
    margin: 1% auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

.main-container {
    margin: 1% auto;
    padding: 1%;
}

.top {
    display: flex;
    flex-direction: row;
}

.search-box {
    width: 75%;
    margin: auto;
}

#search {
    height: 30px;
    margin: auto;
    width: 100%;
}

.bottom {
    display: none;
    display: flex;
    min-height: fit-content;
    height: 575px;
    flex-direction: row;
    position: relative;
    margin: 2% auto;
    width: 100%;
}

.results-side {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    float: left;
    margin: 1%;
}

.side-result {
    padding: 3%;
    display: flex;
    flex-direction: row;
    border: 1px;
    border-style: solid;
    border-color: black;
    /* height: 33.33%; */
    background-color: #019e9e;
    cursor: pointer;
}

.side-result:first-child {
    display: none;
}

#card-header {
    text-align: center;
    text-decoration: underline;
}

.left {
    float: left;
    width: 35%;
    padding: 0 3%;
    margin: auto;
}

.education {
    width: 100%;
    margin: 4% 0;
    font-size: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.name {
    width: 100%;
    font-size: 20px;
    margin: 4% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.location {
    width: 100%;
    margin: 4% 0;
    font-size: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.right {
    float: right;
    padding: 0 3%;
    margin: auto;
    width: 55%;
}

.circle-cropper {
    background-color: white;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.description-side {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 100%;
    width: 60%;
    float: right;
    margin: 1%;
}

#description-menu-item {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#description-menu-item a {
    text-decoration: none;
    color: #00C9C9;
}

#description-menu-item a:active {
    text-decoration: underline;
    color: #00C9C9;
}

.description-menu {
    width: 100%;
    margin: 1% auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bolder;
}

.description-image {
    height: 30%;
    /* background-color: #5ba8a8;
    color: white; */
    background-image: url(people.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.description-text {
    display: flex;
    flex-direction: row;
    height: 70%;
    background-color: teal;
}

.content {
    height: 100%;
    overflow-y: auto;
}

.containerTab {
    display: none;
    margin: 3%;
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.content-reviews {
    text-align: center;
}

.description-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    /* background-color: lightcoral; */
    height: 100%;
    text-align: center;
    color: white;
    overflow-y: auto;
    padding: 1%;
    margin: 1%;
}

.description-right {
    width: 50%;
    display: flex; 
    flex-direction: column;
    float: right;
    /* background-color: brown; */
    height: 100%;
    text-align: center;
    color: white;
    overflow-y: auto;
    padding: 1%;
    margin: 1%;
}

#text {
    text-decoration: underline;
    margin: 3%;
}

#name1 {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#location1 {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#education1 {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#website {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#email{
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#organizations {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

#linkedin {
    width: 100%;
    font-size: 20px;
    margin: 3% 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}
