form {
    border: none;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

.login {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #00C9C9;
    text-align: center;
    margin: 5%;
}

.email {
    text-align: center;
    margin: 5%;
}

.password {
    text-align: center;
    margin: 5%;
}

.companyID {
    text-align: center;
    margin: 5%;
}

.enter {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
}

.createaccount {
    font-style: italic;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: 2% auto;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5% 0;
    color: white;
}

.createaccount:hover {
    font-size: 17px;
}

.createaccount:focus {
    font-size: 17px;
}

.cancelButton {
    background-color: darkslategray;
    color: #00C9C9;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 3%;
    width: 125px;
    float: left;
    border-radius: 5px;
    box-shadow: #43464B;
    height: 35px;
    margin: 5%;
}

.cancelButton:focus{
    outline: none;
    color: #43464B;
}

.cancelButton:hover{
    cursor: pointer;
}

.loginButton {
    background-color: darkslategray;
    color: #00C9C9;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 3%;
    width: 125px;
    float: right;
    border-radius: 5px;
    box-shadow: #43464B;
    height: 35px;
    margin: 5%;
}

.loginButton:focus{
    outline: none;
    border: #43464B;
}

.loginButton:hover{
    cursor: pointer;
}

.other {
    display: flex;
    flex-direction: column;
    float: bottom;
    margin: 10% 0;
}

.input {
    display: inline;
    flex-direction: row;
}

.signup {
    text-decoration: none;
    border: none;
    width: 50%;
    font-size: 15px;
    margin: auto;
}

.signup-route {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5% auto;
}

#signup {
    width: 70%;
    margin: auto;
    font-size: 15px;
    text-align: center;
}

#email {
    width: 90%;
    margin: auto;
}

#password {
    width: 90%;
    margin: auto;
}

#companyID {
    width: 90%;
    margin: auto;
}
#text {
    font-family: 'Lato', sans-serif;
    color: darkslategray;
}