html {
    background-color: darkslategray;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: transparent;
    outline: none;
    border: none;
    color: #00C9C9;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: bolder;
}

#header {
    margin: auto;
}

#menu-item {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: none;
    color: #00C9C9;
}

.menu {
    width: 100%;
    margin: 1% auto;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    background:darkslategray;
  }
  
  /* Header/Blog Title */
  .j-header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("money3.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-weight: bold;
    font-family: 'Bowlby One SC';
    font-size: 40px;
  }
  
  .j-header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .j-footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }