html {
    background-color: darkslategray;
}

.header {
    background-color: transparent;
    outline: none;
    border: none;
    color: #00C9C9;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}
  
#Header{
    color: #43464B;
    width: fit-content;
    margin: auto;
}
  
.HeaderDiv{
    margin: 3% auto;
}

#menu-item {
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: underline;
    color: #00C9C9;
}

.menu {
    width: 100%;
    margin: 4% auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}